:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container{
  width: 900px;
  margin: auto auto;
}
.field {
  display: grid;
  grid-template-columns: repeat(var(--size, 5), 30px);
  grid-template-rows: repeat(var(--size, 5), 30px);
}
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
.wrapper {
  display: flex;
}
.statistics {
  overflow-y: scroll;
  margin-left: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.statistics h3 {
  margin-bottom: 10px;
}

.statistics table {
  width: 100%;
  border-collapse: collapse;
}

.statistics th,
.statistics td {
  padding: 8px;
  text-align: left;
}

.statistics th {
  background-color: #f2f2f2;
}

.statistics th:first-child,
.statistics td:first-child {
  border-left: none;
}

.statistics th:last-child,
.statistics td:last-child {
  border-right: none;
}

.stat-body {
  text-align: center;
}

#score {
  font-weight: bold;
}
